body {
  font-family: 'Source Sans Pro' !important;
}
.hero {
  background: url('../img/header.jpg') center center no-repeat scroll;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  text-align: center;
}
.hero .title h1 {
  font-weight: 600;
  font-size: 144px;
}
.hero .title p {
  font-size: 24px;
}
.hero .all-stories {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .btn {
  background: #f56363;
  font-size: 24px;
  font-weight: 300;
  color: #fff !important;
  padding: 10px 30px;
}
.hero .btn .fa {
  margin-right: 5px;
}
.featured-story {
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
}
.featured-story .buy {
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}
.featured-story .buy-button {
  margin-top: 15px;
}
footer {
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
